<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
    <div class="container">
        <div class="message-success panel panel-success" hidden>
            <div class="panel-heading">Success</div>
        </div>
        <div class="message-error panel panel-danger" hidden>
            <div class="panel-heading">Error</div>
        </div>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Management</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a onclick="selectTab(formMenu)" href="#">Menu
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        <li>
                            <a onclick="selectTab(formDrink)" href="#">Drink</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
        <div id="formMenu" class="formMenu">
            <div class="panel panel-info">
                <div class="panel-heading">
                    Quản lý MENU
                </div>
                <div class="panel-body">
                    <form id="_formMenu">
                        <label class="label label-danger error" hidden></label>
                        <div class="form-group">
                            <label for="menuName">Tên menu:</label>
                            <input type="text" class="form-control" id="menuName" name="name" placeholder="Tên menu" required>
                        </div>
                        <button type="button" onclick="submitForm(_formMenu)" class="btn btn-success">Submit</button>
                        <button type="button" onclick="clearForm(_formMenu)" class="btn btn-primary">Clear</button>
                    </form>
                    <table id="tableMenu" class="table">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <td>Tên Menu</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div id="formDrink" class="formDrink" hidden>
            <div class="panel panel-info">
                <div class="panel-heading">
                    Quản lý Nước uống
                </div>
                <div class="panel-body">
                    <form id="_formDrink">
                        <label class="label label-danger error" hidden></label>
                        <div class="form-group">
                            <label for="dirnkName">Tên nước uống</label>
                            <input type="text" class="form-control" id="dirnkName" name="name" placeholder="Tên nước uống">
                        </div>
                        <div class="form-group">
                            <label for="priceDrink">Giá</label>
                            <input type="number" class="form-control" id="priceDrink" name="price" placeholder="Giá">
                        </div>
                        <div class="form-group">
                            <label for="menuDrink">Menu</label>
                            <select class="form-control" id="menuDrink" name="menu">
                            </select>
                        </div>
                        <button type="button" onclick="submitFormDrink(_formDrink)" class="btn btn-success">Submit</button>
                        <button type="button" onclick="clearForm(_formDrink)" class="btn btn-primary">Clear</button>
                    </form>
                    <table id="tableDrink" class="table">
                        <thead>
                            <tr>
                                <td>STT</td>
                                <td>Tên nước uống</td>
                                <td>Giá</td>
                                <td>Menu</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <!-- http service -->
    <script src="js/myAction/http.js"></script>
    <!-- Dom service -->
    <script src="js/myAction/renderView.js"></script>
    <!-- list my action -->
    <script src="js/myAction/listAction.js"></script>
    <!-- handle my action -->
    <script src="js/myAction/myAction.js"></script>
    <!-- <script src="js/responsivevoice.js"></script> -->
    <!-- <script src="js/witAi.js"></script>
    <script src="js/recordingSpeechApi.js"></script> -->
    <script src="js/manager/index.js"></script>
    <script src="js/manager/menu.js"></script>
    <script src="js/manager/drink.js"></script>
</body>

</html>